@font-face {
    font-family: 'Digital-7';
    src: url('../fonts/style-7_digital-7/Digital-7.eot');
    src: url('../fonts/style-7_digital-7/Digital-7.eot?#iefix') format('embedded-opentype'),
        url('../fonts/style-7_digital-7/Digital-7.woff2') format('woff2'),
        url('../fonts/style-7_digital-7/Digital-7.woff') format('woff'),
        url('../fonts/style-7_digital-7/Digital-7.ttf') format('truetype'),
        url('../fonts/style-7_digital-7/Digital-7.svg#Digital-7') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Digital-7 Mono';
    src: url('Digital-7Mono.eot');
    src: url('Digital-7Mono.eot?#iefix') format('embedded-opentype'),
        url('Digital-7Mono.woff2') format('woff2'),
        url('Digital-7Mono.woff') format('woff'),
        url('Digital-7Mono.ttf') format('truetype'),
        url('Digital-7Mono.svg#Digital-7Mono') format('svg');
    font-weight: normal;
    font-style: normal;
}

